/* Ajustar imágenes automáticamente al tamaño de las columnas */
.service img.img-fluid {
  width: 60%;
  height: auto;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #73e3afb6;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #73e3afb6;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.website-link {
  text-align: center;
  margin-bottom: 10px;
}
.website-link img {
  max-width: 80px; /* Establece el ancho máximo que desees */
  height: auto;
}